body{
    background-color: rgb(128, 199, 240);
    /* display: flex; */

}

.profile{
    text-align: center;
}
.parent-container{
    display: flex;
   
}

.pal-container{
    display: flex;
}
.sub-container{
    display: flex;
}

.user-container{
    /* display: flex; */
    padding: 0 0 0 30px;
}
.lower-container{
    padding: 0 0 0 30px; 
}
.local-container{
    padding: 0 0 0 30px;
}
 

.photo{
    width: 200px;
    height: 200px;
   

   
}
.letter{
    font-size: 40px;
    color: red;
  
}
.age{
    font-size: 30px;
  
   
}
.gender{
    font-size: 26px;
    
}
.city{
    font-size: 26px;
   
}
.country{
   font-size: 26px;
   
}
.email{
    font-size: 20px;
    
}
.phone{
    font-size: 26px;
    
}
.profile{
   
}